{% extends "base.twig" %}

{% block title %} {{ parent() }} Modifier un produit {% endblock %}

{% block contenu %} {{ parent() }}
{% if form.produit is defined %}
        {% if form.produit != null %}
            <div class="form_modifierProduit">
                <form action="index.php?page=modifierProduit" method="post" enctype="application/x-www-form-urlencoded">
                    <h1>Modifier un produit</h1>

                    <label for="inputNomModifierProduit" class="sr-only">Nom :</label>
                    <input type="text" id="inputNomModifierProduit" name="inputNomModifierProduit" value="{{ form.produit.nom }}" class="form-control" required>

                    <label for="inputDescriptionModifierProduit" class="sr-only">Description :</label>
                    <input type="text" id="inputDescriptionModifierProduit" name="inputDescriptionModifierProduit" value="{{ form.produit.description }}" class="form-control" row="10" cols="10" required>


                    <label for="inputPrixModifierProduit" class="sr-only">Prix :</label>
                    <input type="number" id="inputPrixModifierProduit" name="inputPrixModifierProduit" value="{{ form.produit.prix }}" class="form-control" step="0.01" required>

                    <label for="type" class="sr-only">Type :</label>
                    
                    {# <label for="saison" class="sr-only">Saison :</label> #}
                    <select class="form-control" name="type">
                        {% for type in form.type %}
                            <option value="{{ type.id }}" {% if type.id == form.type.id %}selected{% endif %}>
                                {{ saison.nom }}
                            </option>
                        {% endfor %}
                    </select>

                    {# <label for="saison" class="sr-only">Saison :</label>
                    <select class="form-control" name="saison">
                        {% for saison in listeSaison %}
                            <option value="1">Printemps</option>
                            <option value="2">Été</option>
                            <option value="3">Automne</option>
                            <option value="4">Hiver</option>
                        {% endfor %}
                    </select> #}

                    <label for="saison" class="sr-only">Saison :</label>
                    <select class="form-control" name="saison">
                        {% for saison in form.saison %}
                            <option value="{{ saison.idSaison }}" {% if saison.idSaison == form.type.idSaison %}selected{% endif %}>
                                {{ saison.nom }}
                            </option>
                        {% endfor %}
                    </select>

                    <label for="inputQuantiteModifierProduit" class="sr-only">Quantité :</label>
                    <input type="number" id="inputQuantiteModifierProduit" name="inputQuantiteModifierProduit" value="{{ form.produit.quantite }}" class="form-control" required>

                    <label for="inputImageModifierProduit" class="sr-only">Image :</label>
                    <br>
                    <input type="file" name="inputImageModifierProduit">
                    <br>
                    <br>

                    <label for="inputTexteAlternatifImageModifierProduit" class="sr-only">Texte alternatif :</label>
                    <input type="text" id="inputTexteAlternatifImageModifierProduit" name="inputTexteAlternatifImageModifierProduit" value="{{ form.produit.descriptionPhotoAlt }}" class="form-control" required>
                    <input type="hidden" name="id" value="{{ form.produit.id }}"/>
                    <br>

                    <button class="btn btn-lg btn-primary btn-block" type="submit" name="BtnModifierProduit">Modifier le produit</button>
                </form>
            </div>
        {% else %}
            <h2 class="alert alert-danger" role="alert">{{ form.message }}</h2>
            <a href="index.php?page=produit">Retourner sur la liste des produits</a>
        {% endif %}
    {% else %} 
        <h2 class="alert alert-danger" role="alert">{{ form.message }}</h2>
    <a href="index.php?page=produit">Retourner sur la liste des produits</a>
    {% endif %}
{% endblock %}