{% extends "base.html.twig" %}
{% block title %} {{ parent() }}Produits{% endblock %}
{% block contenu %}  {{ parent() }}

{# <form> #}
<div class="table-responsive">
    <table class="table">
        <thead>
            <tr>
                <th scope="col">Nom</th>
                <th scope="col">Description</th>
                <th scope="col">Prix</th>
                <th scope="col">Type</th>
                <th scope="col">Saison</th>
                <th scope="col">Image</th>

            </tr>
        </thead>
            <tbody>
                {% for produit in liste %}
                    <tr>
                        <td>{{produit.nom}}</td>
                        <td>{{produit.description}}</td>
                        <td>{{produit.prix}}</td>
                        <td>{{produit.libelle}}</td>
                        <td>{{produit.nomSaison}}</td>
                        <td>{{produit.image}}</td>
                    </tr>
                {% endfor %}
            </tbody>
    </table>
</div>
{# </form> #}
{% endblock %}