{% extends "base.twig" %} 
{% block title %}{{ parent() }} - {{ produit.nom }}{% endblock %}

{% block contenu %} {{parent()}}
<div class="container my-5">
  <div class="row">
    <!-- Image Produit -->
    <div class="col-md-6 mb-4">
      <div class="product-image text-center">
        <img src="./images/bouquet1.png" alt="{{ produit.descriptionAlt }}" class="img-fluid rounded shadow-sm">
      </div>
    </div>

    <!-- Infos Produit -->
    <div class="col-md-6">
      <h1 class="mb-3">PRoduit 1{{ produit.nom }}</h1>
      <p class="lead">Description lorem ipsum fiefi{{ produit.description }}</p>

      <!-- Caractéristiques (si applicable) -->
      {% if produit.caracteristiques is defined %}
        <ul class="list-unstyled mb-4">
          {% for caractere in produit.caracteristiques %}
            <li><strong>{{ caractere.label }}:</strong> {{ caractere.valeur }}</li>
          {% endfor %}
        </ul>
      {% endif %}

      <!-- Formulaire Ajout Panier -->
      <form action="index.php?page=produitFiche" method="post" enctype="application/x-www-form-urlencoded">
        <input type="hidden" name="id" value="{{ form.produit.id }}" />
        
        <button class="btn btn-warning btn-lg rounded-pill px-4" type="submit" name="btAjoutP">
          Ajouter au panier
        </button>
      </form>
    </div>
  </div>

  <!-- Section "Produits similaires" en bas (UX+) -->
  <div class="row mt-5">
    <div class="col-12">
      <h3>Produits similaires</h3>
      <div class="row">
        {% for produitSimilaire in produitsSimilaires %}
          <div class="col-sm-6 col-md-4 col-lg-3 mb-4">
            <div class="card h-100 shadow-sm">
              <img src="{{ produitSimilaire.photo }}" class="card-img-top" alt="{{ produitSimilaire.descriptionAlt }}">
              <div class="card-body">
                <h5 class="card-title">{{ produitSimilaire.nom }}</h5>
                <a href="index.php?page=produitFiche&id={{ produitSimilaire.id }}" class="btn btn-outline-primary btn-sm">Voir</a>
              </div>
            </div>
          </div>
        {% endfor %}
      </div>
    </div>
  </div>
</div>
{% endblock %}
