{% extends "base.html.twig" %}
{% block title %} {{ parent() }}Utilisateurs{% endblock %}
{% block contenu %}  {{ parent() }}

{# <form> #}
<div class="table-responsive">
    <table class="table">
        <thead>
            <tr>
                <th scope="col">E-mail</th>
                <th scope="col">Nom</th>
                <th scope="col">Prénom</th>
                <th scope="col">Rôle</th>
                <th scope="col"></th>
            </tr>
        </thead>
            <tbody>
                {% for utilisateur in liste %}
                    <tr>
                        <td>{{utilisateur.email}}</td>
                        <td>{{utilisateur.nom}}</td>
                        <td>{{utilisateur.prenom}}</td>
                        <td>{{utilisateur.libelle}}</td>
                        <td><a href="index.php?page=utilisateurModif&id={{utilisateur.idUtilisateur}}">Modifier</a></td>
                    </tr>
                {% endfor %}
            </tbody>
    </table>
</div>
{# </form> #}
{% endblock %}