{% extends "base.html.twig" %}
{% block title %} {{ parent() }}Utilisateurs{% endblock %}
{% block contenu %}  {{ parent() }}

{# <form> #}
<div class="container mt-5">
    <div class="row">
        {% for utilisateur in liste %}
        <div class="col-md-4 col-lg-3 mb-4">
            <div class="card shadow-sm">
                <div class="card-body">
                    <h5 class="card-title">{{ utilisateur.nom }} {{ utilisateur.prenom }}</h5>
                    <p class="card-text"><strong>E-mail:</strong> {{ utilisateur.email }}</p>
                    <p class="card-text"><strong>Rôle:</strong> {{ utilisateur.libelle }}</p>
                    <div class="d-flex justify-content-between">
                        <a href="index.php?page=utilisateurModif&id={{ utilisateur.idUtilisateur }}" class="btn btn-primary">Modifier</a>
                        <a href="index.php?page=utilisateurSuppr&id={{ utilisateur.idUtilisateur }}" class="btn btn-danger btn-sm">SUPPRIMER</a>
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>


{# </form> #}
{% endblock %}