{% extends "base.html.twig" %}
{% block title %} {{ parent() }}Accueil{% endblock %}
{% block contenu %}  {{ parent() }}

{# <form> #}
<div class="table-responsive">
    <table class="table">
        <thead>
            <tr>
                <th scope="col">E-mail</th></th>
                <th scope="col">Nom</th></th>
                <th scope="col">Prénom</th></th>
                <th scope="col">Rôle</th></th>
            </tr>
        </thead>
            <tbody>
                {% for utilisateur in liste %}
                    <tr>
                        <td>{{utilisateur.email}}</td>
                    </tr>
                    <tr>
                        <td>{{utilisateur.nom}}</td>
                    </tr>
                    <tr>
                        <td>{{utilisateur.prenom}}</td>
                    </tr>
                    <tr>
                        <td>{{role.libelle}}</td>
                    </tr>
                {% endfor %}
            </tbody>
    </table>
</div>
{# </form> #}
{% endblock %}